@keyframes translateTxt {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadePage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// OVERLAY WITH TRANSITION

.page-wrapper-transition {
    height: auto;
    width: 100%;
    animation: transitionPage 1.5s ease-in-out;
}

.overlay-page {
    position: fixed;
    background-color: $green;
    width: 0vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999999999;
    animation: transitionPage 1.3s ease-in-out;
    overflow-y: hidden;
}

// ANIMATION OF THE OVERLAY PAGE

@keyframes transitionPage {
    0% {
        transform: translateX(100vw);
        width: 0%;
    }
    50% {
        transform: translateX(0vw);
        width: 50%;
    }
    50% {
        transform: translateX(0vw);
        width: 100%;
    }
}

