html {
    font-size: 16px;
        h1 {
            font-size: 3rem;
            font-family: $title;
            @media screen and (max-width: 768px){
                font-size: 3rem;
            }
        }
        
        h2 {
            font-size: 3rem;
            @media screen and (max-width: 425px){
                font-size: 3rem;
            }
        }
        
        h3 {
            font-size: 2.5rem;
            @media screen and (max-width: 768px){
                font-size: 2rem; 
            }     
            @media screen and (max-width: 425px){
                font-size: 1.5rem; 
            }    
        }

        h4 {
            font-size: 2rem;
        }
        
        p {
            font-size: 1.5rem;
            font-family: $text;
            @media screen and (max-width: 768px){
                font-size: 1rem; 
            }
        }
        
        label {
            font-size: 2rem;
            @media screen and (max-width: 768px){
                font-size: 1.5rem; 
            }
            @media screen and (max-width: 425px){
                font-size: 1.5rem; 
            }
        }

    }
