@font-face {
    font-family: ‘fraunces’;
    src: url(‘../font/Fraunces_Bold.woff2’) format(‘woff2’);
    font-display: swap;
}
@font-face {
    font-family: 'poppins';
    src: url('../font/Poppins_Regular.woff2') format('woff2');
    font-display: swap;
}

$title: 'fraunces';
$text: 'poppins';











