@font-face {
    font-family: 'fraunces';
    src: url(/assets/font/Fraunces_Bold.ttf) format('ttf');
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    src: url(/assets/font/Poppins_Regular.ttf) format('ttf');
    font-display: swap;
}

$title: 'fraunces';
$text: 'poppins';











