.section__info {
    padding: 40px 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;

    & h2 {
        font-family: "fraunces";
        font-weight: bold;
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    & h3 {
        font-family: "fraunces";
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin-bottom: 1rem;
    }

    & p,
    li {
        font-size: 1.5rem;
        font-family: "poppins";
        margin-bottom: 1rem;
    }

    & ul {
        padding-left: 1rem;
    }

    & a {
        font-weight: bold;

        &:hover {
            color: $green;
        }
    }
}