.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $green;
    color: white;
    transition: 1s;
    z-index: 99999999;
}

.logo-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;   
    font-size: 5rem; 
    font-weight: 600;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}