.compte {
    height: 100vh;
    display: flex;
    flex-direction: row;

    .compte__left {
        width: 50%;
        height: 100%;
        background-color: #f8f8f8;
        @media screen and (max-width: 600px){
            width: 100%;
        }

        .compte__link {
            color: $green;
            font-weight: bold;
            &:hover {
                color: $black;
            }
        }

        .compte__left__content {
            padding: 4rem;
            display: flex;
            flex-direction: column;
            height: calc(100% - 84px);
            justify-content: center;
            width: 100%;

            .compte__label {
                display: flex;
                flex-direction: column;
                padding: 1rem 0;

                label {
                    font-size: 1.6rem;
                    margin-bottom: .2rem;

                    :hover {
                        border-color: $green;
                    }
                }

                input {
                    height: 4rem;
                    padding: 1rem;
                    font-size: 1.6rem;
                    width: 80%;
                    @media screen and (max-width: 600px){
                        width: 100%;
                    }
                }
            }
            .compte__btn-container {
                margin-bottom: 1rem;
            }
        }
    }

    .compte__right {
        width: 50%;
        height: 100%;
        background-image: url('../../../assets/images/header/header.webp');
        background-size: cover;
        background-position: right;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 600px){
            display: none;
        }
    }
}