#contact {
    height: auto;
    width: 100%;
    animation: transitionPage 1.5s ease-in-out;
}

.contact__container {
    display: flex;
}

.contact__form__container {
    width: 70%;
    margin-right: 8rem;
}

.primary__content {
    margin: 24px 0;
}

.contact__form {
    label {
        margin-bottom: 4px;

        & a {
            color: $green;
        }
    }

    input,
    textarea {
        background-color: #fff;
        border-color: $black;
        border-width: 1px;
        border-radius: 2px;
        padding: 10px 18px;
        outline: 0;
        color: $black;
        margin-bottom: 10px;
    }

    & input,
    & textarea {
        background-color: #fff;
        border-color: $black;
        border-width: 1px 1px 1px 1px;
        border-radius: 2px;
        padding: 10px 18px;
        outline: none;
        color: $black;
        margin-bottom: 10px;
    }

    & input::placeholder,
    & textarea::placeholder {
        font-family: $text;
        font-size: 1.2rem;
    }

    & div {
        display: flex;
        flex-direction: column;
    }

    & .form__send {
        flex-direction: row;
        text-transform: uppercase;
    }
}

.contact_form_container.success {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

    & img {
        width: 8rem;
    }
}

.contact__social__container {
    width: 30%;

    & h2 {
        font-size: 3rem;
        text-align: center;
        color: #fff;
        font-family: $title;
        margin-bottom: 3rem;
    }
}

.contact__social-1 {
    background-image: url('../../../assets/images/flowerpot-social-facebook.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.contact__social-2 {
    background-image: url('../../../assets/images/flowerpot-social-instagram.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.send-btn {
    padding: .6rem 1.75rem;
    cursor: pointer;
    border: none;
}

@media (max-width: 1000px) {
    .contact__social__container h2 {
        font-size: 2rem;
    }
}

@media (max-width: 880px) {
    .contact__container {
        flex-direction: column;
    }

    .contact__social__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 2rem;

        & h2 {
            font-size: 2rem;
        }
    }

    .contact__social-1 {
        width: 50%;
        margin-right: 1rem;
    }

    .contact__social-2 {
        width: 50%;
        margin-left: 1rem;
    }

    .contact__form__container {
        width: 100%;
        margin-right: 0;
    }

    .page-contact .container-row {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .contact__social-1 {
        width: 100%;
        margin-right: 0;
    }

    .contact__social-2 {
        width: 100%;
        margin-left: 0;
    }

    .contact__social__container {
        flex-direction: column;
    }
}