.page__banner {
    height: 160px;
    padding: 4rem;
    background-image: url(../../../assets/images/header/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h1 {
        background: #00372e;
        color: #fff;
        width: fit-content;
        padding: .6rem;
        font-size: 3rem;
        margin-bottom: .5rem;
    }

    & span {
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        gap: .6rem;
        background: #00372e;
        color: #fff;
        width: fit-content;
        padding: .6rem;

        & a {
            color: #fff;
            &:hover{
                color: $black;
            }
        }
    }
}

@media(max-width:340px){
    .products__banner {
        padding: 1rem;
        align-items: center;
    }
}