// CONTENT // 

#error-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.wrapper_txt {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: absolute;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    z-index: 9999;
    animation: translateText 4s ease-in-out;
    animation-iteration-count: infinite;
    #drag-txt {
        font-size: 1rem;
        span {
            font-style: italic;
        }
    }

}

@keyframes translateText {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}



// ANIMATION

.content__drag-area {
    height: 100vh;
    width: 100vw;
    color: aquamarine;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-drag {
    position: relative;
    background-color: white;
    width: 16vw;
    height: 20vw;
    min-height: 150px;
    min-width: 120px;
    max-height: 750px;
    max-width: 600px;
    margin: 4rem;
    cursor: grab;
    // border: 1px solid black;
    /* will-change: transform; */
}

.img-2 {
 
}